%table.table.table-striped.tasks-table
  %tr
    %th.col-res Resource
    %th.col-res-group Group
    %th.col-progress Progress
    %th.col-duration Duration
    %th.col-data Data
    %th.col-started Started
    %th.col-updated Last Update
    %th.col-yield
  - tasks.each do |task|
    %tr
      %td.col-res= link_to task.resource.name, resource_details_path(task.resource.username) unless task.resource.nil?
      %td.col-res-group= link_to task.resource_group.group_name, resource_group_details_path(task.resource_group) unless task.resource_group.nil?
      %td.col-progress
        = number_to_percentage(task.progress*100, precision: 0)
        - if task.error
          %span.glyphicon.glyphicon-remove{title: 'This task has failed.'}
      %td.col-duration= format_duration(task.real_duration)
      %td.col-data
        .task-data= task.data.to_json
      %td.col-started= task.created_at.localtime.to_formatted_s(:long)
      %td.col-updated= task.updated_at.localtime.to_formatted_s(:long)
      %td.col-yield= yield task