%p
  %strong= shared_resources.size
  with 
  = raw print_res_list_excl_self(involved_resources, @resource)
  %small
    %a.text-muted{'data-toggle' => 'collapse', 'data-target' => "\##{name}-#{token}"} show
  - unless shared_resources.empty?
    .collapse{id: "#{name}-#{token}"}
      (
      = raw print_res_list(shared_resources)
      )