Connection via Shared Resources
%ul
  - klass.metrics_by_token.each do |group|
    %li
      with 
      = raw print_res_list(group[:involved])
      %strong= group[:aggregate]
    - group[:details].each do |metric|
      %ul
        %li
          %p
            %strong= metric.sort_value
            = metric.vars_for_render[:friendly_name]
            - ukey = metric.resources.map {|x| x.id}.join('_')
            %small
              %a.text-muted{'data-toggle' => 'collapse', 'data-target' => "\##{metric.vars_for_render[:name]}-#{ukey}"} show
            - unless metric.vars_for_render[:shared_resources].empty?
              .collapse{id: "#{metric.vars_for_render[:name]}-#{ukey}"}
                (
                = raw metric.vars_for_render[:shared_resources].map { |res| link_to res.name, resource_overview_path(res.username)}.join(', ')
                )