%h1 FBWatch Status
%h2 Add new resource to observe
= simple_form_for(@resource) do |f|
  = f.error_notification
  = f.input :username, label: "Facebook URL"
  = f.button :submit, 'Add'

%h2 Current Resources
= link_to "Sync All", sync_all_path, class: "btn", data: { confirm: "This might take a while. Continue?" }
Total:
= @total_res

.paging
  - if @offset > 0
    = link_to 'Previous', root_paging_path(@offset-1)
  \|
  = link_to 'Next', root_paging_path(@offset+1)

%table.table
  %tr
    %th Name
    %th Username
    %th Facebook ID
    %th Active
    %th Last Synced
    %th &nbsp;
  - @resources.each do |res|
    %tr
      %td= res.name
      %td= link_to res.username, { controller: 'resources', action: 'details', username: res.username }
      %td= res.facebook_id
      %td= res.active
      %td
        - if res.last_synced.is_a?(DateTime) and res.last_synced > DateTime.now
          %i currently syncing
        - elsif res.last_synced.is_a?(Time)
          = time_ago_in_words(res.last_synced) + " ago"
      %td
        - if res.active
          = link_to "Stop Syncing", sync_disable_path(res.username), class: "btn btn-small"
        - else
          = link_to "Enable Syncing", sync_enable_path(res.username), class: "btn btn-small"
        %br
        = link_to "Sync now", sync_path(res.username), class: "btn btn-primary"

.paging
  - if @offset > 0
    = link_to 'Previous', root_paging_path(@offset-1)
  \|
  = link_to 'Next', root_paging_path(@offset+1)