%h1 FBWatch Status
%h2 Add new resource to observe
= simple_form_for(@resource) do |f|
  = f.error_notification
  = f.input :username, label: "Facebook URL"
  = f.button :submit, 'Add'

%h2 Current Resources
= link_to "Sync All", sync_all_path, class: "btn", confirm: "This might take a while. Continue?"
Total:
= @resources.length

%table.table
  %tr
    %th Name
    %th Username
    %th Facebook ID
    %th Active
    %th Last Synced
    %th &nbsp;

  - @resources.each do |res|
    %tr
      %td= res["name"]
      %td= link_to res["username"], { controller: 'resources', action: 'details', username: res['username'] }
      %td= res["facebook_id"]
      %td= res["active"]
      %td= res["last_synced"]
      %td
        - if res.active
          = link_to "Stop Syncing", sync_disable_path(res.username)
        - else
          = link_to "Enable Syncing", sync_enable_path(res.username)
        %br
        = link_to "Sync now", sync_path(res['username'])