= simple_form_for(@resource) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label: "Name or Facebook URL"
    = f.input :username
    = f.input :facebook_id
    = f.input :link
    = f.input :active
    = f.input :last_synced

  .form-actions
    = f.button :submit
