%h1 Details for Resource
%p#notice= notice

= link_to "Sync now", sync_path(@resource.username), class: "btn btn-primary"
= link_to "Clear all", sync_clear_path(@resource.username), class: "btn"

%h2 Basic Data
%p
  %b ID:
  = @resource.id
%p
  %b Name:
  = @resource.name
%p
  %b Username:
  = @resource.username
%p
  %b Facebook ID:
  = @resource.facebook_id
%p
  %b Link:
  =link_to @resource.link, @resource.link
%p
  %b Last synced:
  = @resource.last_synced
%p
  %b Active:
  = @resource.active

%h2 Additional Data
- @basicdata.each do |item|
  %p
    %b= item['key']
    = item['value']

%h2 Feed
Total: 
= @feeds.length
%table.table
  %tr
    %th Date
    %th Data
    %th Type
    %th From
    %th To
    %th Comments
    %th Likes
  - @feeds.each do |item|
    %tr
      %td= item['updated_time']
      %td= item['data']
      %td= item['feed_type']
      %td
        - if !item.from.nil?
          = link_to item.from.name, resource_details_path(item.from.username)
      %td
        - if !item.to.nil?
          = link_to item.to.name, resource_details_path(item.to.username)
      %td= item['comment_count']
      %td= item['like_count']

= link_to 'Edit', edit_resource_path(@resource)
\|
= link_to 'Back', root_path
