%h1 Details for Resource

= link_to "Sync now", sync_path(@resource.username), class: "btn btn-primary"
= link_to "Sync test", sync_path(@resource.username, test: 1), class: "btn"
= link_to "Clear all", sync_clear_path(@resource.username), class: "btn"

%h2 Basic Data
%p
  %b ID:
  = @resource.id
%p
  %b Name:
  = @resource.name
%p
  %b Username:
  = @resource.username
%p
  %b Facebook ID:
  = @resource.facebook_id
%p
  %b Link:
  =link_to @resource.link, @resource.link
%p
  %b Last synced:
  = @resource.last_synced
%p
  %b Active:
  = @resource.active

%h2 Metrics
%h3 Resource Metrics
= link_to "Re-Calc", run_metrics_path(@resource.username), method: :patch, class: "btn"
%ul
- @metrics.each do |item|
  %li
    %b= item['description']
    = item['value']

%h3 Group Metrics
%i updating of group metrics can be done on the group page
%ul
  - @resource.resource_groups.each do |group|
    %li
      = link_to group.group_name, resource_group_details_path(group)
    - unless @group_metrics[group.id].nil?
      - @group_metrics[group.id].each do |metric|
        %ul
          %li= raw(metric.render)

= form_tag(add_resource_to_group_path(@resource)) do
  Add to group
  %p= collection_select(:resource, :resource_groups, @all_groups, :id, :group_name)
  %p= submit_tag("Add")


%h2 Additional Data
- @basicdata.each do |item|
  %p
    %b= item['key']
    = item['value']

%h2 Feed
.filter
  %h6 Filter:
  %ul
    %li= link_to 'All', resource_details_path(@resource.username, 0)
    %li= link_to 'Posts', resource_details_path(@resource.username, 0, f: "message")
    %li= link_to 'Comments', resource_details_path(@resource.username, 0, f: "comment")
    %li= link_to 'Stories', resource_details_path(@resource.username, 0, f: "story")

.paging
  %h6 Paging
  %ul
    %li= "Total Items #{@filter_count}"
    %li= "Page #{@offset+1} of #{@total_pages}"
    %li 
      - if @offset > 0
        = link_to 'Previous', resource_details_path(@resource.username, @offset-1, f: @filter)
      \|
      - if @total_pages > (@offset+1)
        = link_to 'Next', resource_details_path(@resource.username, @offset+1, f: @filter)

%table.table
  %tr
    %th Date
    %th Data
    %th Type
    %th From
    %th To
    %th Comments
    %th Likes
  - @feeds.each do |item|
    %tr
      %td= item['updated_time']
      %td= item['data']
      %td= item['feed_type']
      %td
        - if !item.from.nil?
          = link_to item.from.name, resource_details_path(item.from.username)
      %td
        - if !item.to.nil?
          = link_to item.to.name, resource_details_path(item.to.username)
      %td= item['comment_count']
      %td= item['like_count']

.paging
  - if @offset > 0
    = link_to 'Previous', resource_details_path(@resource.username, @offset-1, f: @filter)
  \|
  - if @total_pages > (@offset+1)
    = link_to 'Next', resource_details_path(@resource.username, @offset+1, f: @filter)

= link_to 'Edit', edit_resource_path(@resource)
\|
= link_to 'Back', root_path
