%h1 Details for Resource
%p#notice= notice

%h2 Basic Data
%p
  %b Name:
  = @resource.name
%p
  %b Username:
  = @resource.username
%p
  %b Facebook ID:
  = @resource.facebook_id
%p
  %b Link:
  =link_to @resource.link, @resource.link
%p
  %b Last synced:
  = @resource.last_synced
%p
  %b Active:
  = @resource.active

%h2 Additional Data
- @basicdata.each do |item|
  %p
    %b= item['key']
    = item['value']

= link_to 'Edit', edit_resource_path(@resource)
\|
= link_to 'Back', root_path
